<html>

<head>

</head>

<body>
    <form method="post" [formGroup]="formul" (ngSubmit)="autenticar()">
        <h2>
            Autenticação
        </h2>
        <div class="form-group">
            <p>Email: <input type="email" id="email" 
                            class="form-control" 
                            placeholder="E-mail"
                            formControlName="email"
                    />
        </div>
        <div class="form-group">
            <p>Senha: <input type="password"
                        class="form-control" 
                        placeholder="Senha"
                        formControlName="senha"
                    ></p>
        </div>
        <p>
            <input type="submit" value="Enviar">
    </form>
</body>

</html>